<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Open+Sans:wght@400;600&display=swap');
</style>

<nav style="padding-top: 50px;" class="d-flex justify-content-center navbar navbar-expand-lg navbar-light ">
    <img src="assets/logo.png" alt="" style="width: 90px; height:90px; ">
    <a class="nav-item nav-link font-style" href="#">Home</a>
    <a class="nav-item nav-link font-style" href="#">About</a>
    <a class="nav-item nav-link font-style" href="#">Schedules</a>
    <a class="nav-item nav-link font-style" href="#">Contact</a>
    <a class="nav-item nav-link font-style" href="#">Faq</a>
</nav>

<h1 class="text-center abso"
    style="font-family: 'Cinzel Decorative', cursive; font-size:60px ; color:#466d6c ;text-shadow: -1px 1px 1px white; margin-top: 50px;">
    Iftar Time</h1>
<h1 class="text-center abso"
    style="font-family: 'Cinzel Decorative', cursive; font-size:60px ; color:#466d6c ;text-shadow: -1px 1px 1px white; margin-top: 120px;">
    Countdown</h1>


<div  class="d-flex justify-content-center " style="margin-top: 180px;">
  <div class="countdown border border-3" style="border-color : #305857!important;">
      <h1 class="text-center font-middle">{{hour}}</h1>
      <h5 class="text-center font-hour">Hours</h5>
  </div>
  <div class="countdown border border-3" style="border-color : #305857!important;">
    <h1 class="text-center font-middle">{{minutes}}</h1>
    <h5 class="text-center font-hour">Minutes</h5>
</div> 

<div class="countdown border border-3" style="border-color : #305857!important;">
    <h1 class="text-center font-middle">59</h1>
    <h5 class="text-center font-hour">Second</h5>
</div> 
</div>

<div class="d-flex justify-content-center">
    <h2 class="font-reminder">RAMADAN REMINDER</h2>
</div>

<div>
    <p class="text-center font-desc">This is only for stampede interview , session portfolio by, using angular <br> im using  
        <a style="text-decoration: none; color:#305857" href="https://www.freepik.com/psd/islamic">Islamic psd created by freepik - www.freepik.com</a> <br> credit </p>
</div>
